scipy
numpy
opencv-python
tqdm
typer
rich

########################################
#  pdf tool
########################################
pdfminer.six
PyMuPDF
pypdf

requests
beautifulsoup4

torch==2.12.0
torchvision==0.27.0
transformers==4.37.2
pydantic
onnxconverter_common==1.14.0
onnx==1.17.0
onnxruntime==1.19.2
openpyxl
addict
yapf

# modelscope
apted
tablepyxl
attr
wandb
packaging
cryptography
python-dotenv
shapely
pyclipper
pytz
pandas
